DATABASE_URL=postgresql://neondb_owner:npg_EMmPwy26eUxL@ep-winter-bird-b4erf867-pooler.c-6.us-east-2.aws.neon.tech/neondb?sslmode=require&channel_binding=require
TREE_PS_SHARED_SECRET=3cb4315652fdb7147aa51506ba5684eba6883679bc6b41b53d8e4cf46abaf274
TREE_PS_ADMIN_EMAILS=dailydreyy@email.com
NODE_ENV=production